<div id='crashDriverInfo'>

  <h1>Other Driver's Info</h1>

  <form name='crashDriverInfo'>

    <input type="text" class="form-control" placeholder="First Name" ng-model="crashDriverInfoCtrl.person.firstname">

    <input type="text" class="form-control" placeholder="Last Name" ng-model="crashDriverInfoCtrl.person.lastname">

    <input type="date" class="form-control" placeholder="DOB" ng-model="crashDriverInfoCtrl.person.dob">

    <input type="text" class="form-control" placeholder="Phone Number" ng-model="crashDriverInfoCtrl.person.phoneNumber">

    <input type="email" class="form-control" placeholder="Email Address" ng-model="crashDriverInfoCtrl.person.email">

    <input type="text" class="form-control" placeholder="Driver License Number" ng-model="crashDriverInfoCtrl.person.driverLicenseNum">

    <input type="text" class="form-control" placeholder
    ="Insurance Company" ng-model="crashDriverInfoCtrl.person.insuranceCompany">

    <input type="text" class="form-control" placeholder="Insurance Policy Number" ng-model="crashDriverInfoCtrl.person.policyNum">

    <input type="text" class="form-control" placeholder="Agent Name" ng-model="crashDriverInfoCtrl.person.agentName">

    <input type="email" class="form-control" placeholder="Agent Email" ng-model="crashDriverInfoCtrl.person.agentEmail">   

    <!-- Can check for validation here... -->
    <button class="btn btn-success" ng-click="crashDriverInfoCtrl.save()">Save</button> 

  </form>

  <div class='bottomButtons'>
    <a href='#/crashDriverSearch'>
      <button class='btn btn-default pull-left back'>Back</button>
    </a>
    <a href='#/crashEmail'>
      <button class='btn btn-default pull-right next'>Next</button>
    </a>
  </div>

</div>
