<ion-view view-title="Take Photos of Crash">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-content on-swipe-right="photoCl.prev()" on-swipe-left="photoCl.next()">
    <ion-list>

      <button ng-click="photoCl.getPhoto()" class="button button-block button-primary">Take Photo</button>

      <img ng-src="{{photoCl.lastPhoto}}" style="max-width: 100%">

      <!-- <button class="button button-full button-positive" ng-click="photoCl.addPhoto()">Add Photo</button> -->

    </ion-list>
  </ion-content>
</ion-view>
