<ion-view view-title="Report Crash">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-slide-box on-slide-changed="eventCl.slideChanged(index)">

    <!-- Add Witness -->
    <ion-slide ng-controller="EventWitnessController as witnessCl">

      <div class="item item-button-right">
        Call Police
        <button class="button button-assertive">
          <i class="icon ion-ios-telephone"></i>
        </button>
      </div>

      <div class="list list-inset">

        <p>Check on the other driver's status. If injured, please call 911 immediately.</p>
        <p>Check for witnesses. Ask for their information. If there is no witnesses, please click next.</p>

        <label class="item item-input">
          <input type="text" placeholder="First Name" ng-model="eventCl.person.fname">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name" ng-model="eventCl.person.lname">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Phone Number" ng-model="eventCl.person.phone">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Email Address" ng-model="eventCl.person.email">
        </label>
        <label class="item item-input">
          <textarea placeholder="Comments" ng-model="eventCl.person.comments"></textarea>
        </label>

        <button class="button button-full button-positive" ng-click="eventCl.addWitness()">Add Witness</button>

        <!-- Create a Card Out of Each Added Witness, the card should be editable as well -->
        <div class="card" ng-repeat="witness in eventCl.witnessArr">
          <div class="item item-divider">
            {{witness.fname}} {{witness.lname}}
          </div>
          <div class="item item-text-wrap">
            {{witness.phone}}
            {{witness.email}}
            {{witness.comments}}
          </div>
          <div class="item item-divider">
            Edit Info
          </div>
        </div>
      </div>

    </ion-slide>

    <!-- Take Photos -->
    <ion-slide ng-controller="EventPhotoController as photoCl">

      <button ng-click="photoCl.getPhoto()" class="button button-block button-primary">Take Photo</button>

      <img ng-src="{{photoCl.lastPhoto}}" style="max-width: 100%">

      <h1>Take Photos</h1>
      <h1>Take Photos</h1>
      <h1>Take Photos</h1>

    </ion-slide>

    <!-- Add Other User -->
    <ion-slide ng-controller="EventPersonController as personCl">
      <h1>Add Other User</h1>

      <!-- Lookup the User by username -->
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="personCl.username">
      </label>

      <button class="button button-full button-positive" ng-click="personCl.getUser()">Add Driver</button>

      <!-- Manually enter the user -->


    </ion-slide>

    <!-- Review All Information before Saving -->
    <ion-slide ng-controller="EventFinalController as eventFCl">

      <h1>asdfasdf</h1>
      <h1>asdfasdf</h1>
      <h1>asdfasdf</h1>
      <h1>asdfasdf</h1>

      <!-- If no witnesses have been added -->
      <div class="card" ng-show="eventFCl.witnessArr.length === 0">
        <div class="item item-divider item-text-wrap">
          No Witnesses
        </div>
      </div>

      <!-- Witnesses -->
<!--       <div class="card" ng-repeat="person in eventFCl.witnessArr">
        <div class="item item-divider">
          Witness #{{ $index + 1 }}
        </div>
        <div class="item item-text-wrap">
          <form name='witnessForm'>
            <input type="text" class="form-control" placeholder="First Name" ng-model="person.fname">
            <input type="text" class="form-control" placeholder="Last Name" ng-model="person.lname">
            <input type="text" class="form-control" placeholder="Phone Number" ng-model="person.phone">
            <input type="text" class="form-control" placeholder="Email Address" ng-model="person.email">
            <input type="text" class="form-control" placeholder="Comments" ng-model="person.comments">
          </form>
        </div>
        <div class="item item-divider">
          Edit
        </div>
      </div> -->

      <!-- If no other drivers have been added -->
      <div class="card" ng-show="eventFCl.crashDriver === undefined">
        <div class="item item-divider item-text-wrap">
          No Other Driver Added

        </div>
      </div>

      <!-- Other Driver's Information -->
      <div class="card" ng-show="eventFCl.crashDriver !== undefined">
        <div class="item item-divider">
          Other Driver
        </div>
        <div class="item item-text-wrap">
          <label class="item item-input">
            <input type="text" class="form-control" placeholder="First Name" ng-model="eventFCl.crashDriver.fname">
          </label>
          <label class="item item-input">
            <input type="text" class="form-control" placeholder="DOB" ng-model="eventFCl.crashDriver.dob">
          </label>
          <label class="item item-input">
            <input type="text" class="form-control" placeholder="Phone Number" ng-model="eventFCl.crashDriver.phone">
          </label>
          <label class="item item-input">
            <input type="text" class="form-control" placeholder="Email Address" ng-model="eventFCl.crashDriver.email">
          </label>
<!--           <label class="item item-input">
            <input type="text" class="form-control" placeholder="Email Address" ng-model="eventFCl.crashDriver.email">
          </label>
          <label class="item item-input">
            <input type="text" class="form-control" placeholder="Email Address" ng-model="eventFCl.crashDriver.email">
          </label> -->

<!--

            <input type="text" class="form-control" placeholder="Driver License Number" ng-model="eventFCl.crashDriver.license">

            <input type="text" class="form-control" placeholder="Driver License Number" ng-model="eventFCl.crashDriver.licenseState">

            <input type="text" class="form-control" placeholder
           ="Insurance Company" ng-model="eventFCl.crashDriver.insurance">

            <input type="text" class="form-control" placeholder="Insurance Policy Number" ng-model="eventFCl.crashDriver.policy">

            <input type="text" class="form-control" placeholder="Agent Name" ng-model="eventFCl.crashDriver.agent">

            <input type="text" class="form-control" placeholder="Agent Email" ng-model="eventFCl.crashDriver.agentEmail"> -->

        </div>
        <div class="item item-divider">
          Edit
        </div>
      </div>


      <!-- This should be disabled if no driver has been added -->
      <button class="button button-full button-positive" ng-click="eventFCl.save()">Save</button>

    </ion-slide>

  </ion-slide-box>
</ion-view>
