<ion-view view-title="Report Crash">

  <!-- Steps -->
  <!-- Should turn this into a custom directive... -->
  <div class='step-container container-progress'>

    <div class='step' ng-class="{ 'active' : eventCl.currentStep >= 1 }" data-step='1'>
      1
    </div>
    <div class='step-separator' ng-class="{ 'active' : eventCl.currentStep >= 2 }" data-step='1'></div>

    <div class='step' ng-class="{ 'active' : eventCl.currentStep >= 2 }" data-step='2'>2</div>
    <div class='step-separator' ng-class="{ 'active' : eventCl.currentStep >= 3 }" data-step='2'></div>

    <div class='step' ng-class="{ 'active' : eventCl.currentStep >= 3 }" data-step='3'>3</div>
    <div class='step-separator' ng-class="{ 'active' : eventCl.currentStep >= 4 }" data-step='3'></div>

    <div class='step' ng-class="{ 'active' : eventCl.currentStep >= 4 }" data-step='4'>4</div>

  </div>

  <!-- Navigation Buttons -->

  <ion-nav-buttons side="left">
    <button class="button button-clear button-light" ng-click="eventCl.callEmergency()" ng-cloak><i class="ion-alert-circled" ng-cloak></i> Emergency</button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear button-light" ng-show="eventCl.index === 1" ng-click="takePhoto()" ng-cloak><i class="icon ion-ios-camera" ng-cloak></i></button>
  </ion-nav-buttons>

  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-slide-box on-slide-changed="eventCl.slideChanged(index)">

    <!-- Add Witness -->
    <ion-slide ng-controller="EventWitnessController as witnessCl">
      <ion-content>

      <div class="list list-inset">

        <!-- Hack Fix -->
        <div class="topPaddingForSteps"></div>

        <p>Check on the other driver's status. If injured, please call 911 immediately.</p>
        <p>Check for witnesses. Ask for their information. If there is no witnesses, please click next.</p>

        <label class="item item-input">
          <input type="text" placeholder="First Name" ng-model="witnessCl.witness.fname">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name" ng-model="witnessCl.witness.lname">
        </label>
        <label class="item item-input">
          <i class="icon ion-ios-telephone placeholder-icon"></i>
          <input type="number" placeholder="Phone Number" ng-model="witnessCl.witness.phone">
        </label>
        <label class="item item-input">
          <i class="icon ion-at placeholder-icon"></i>
          <input type="email" placeholder="Email Address" ng-model="witnessCl.witness.email">
        </label>
        <label class="item item-input">
          <textarea placeholder="Comments" ng-model="witnessCl.witness.comments"></textarea>
        </label>

        <button class="button button-full button-positive" ng-click="witnessCl.addWitness()">Add Witness</button>

        <!-- Create a Card Out of Each Added Witness, the card should be editable as well -->
        <div class="card" ng-repeat="witness in witnessCl.witnessArr">
          <div class="item item-divider">
            {{witness.fname}} {{witness.lname}}
          </div>
          <div class="item item-text-wrap">
            {{witness.phone}}
            {{witness.email}}
            {{witness.comments}}
          </div>
        </div>
      </div>

      </ion-content>
    </ion-slide>

    <!-- Take Photos -->
    <ion-slide ng-controller="EventPhotoController as photoCl">

      <div class="camera">
        <video id="video">Video stream not available</video>
      </div>

      <canvas ng-show="crashPhotoCtrl.streaming" id="canvas"></canvas>

      <div class="output">
        <img id="photo" alt="">
      </div>


      <!-- MOBILE VERSION -->
      <!-- <img ng-src="{{photoCl.lastPhoto}}" style="max-width: 100%"> -->

    </ion-slide>

    <!-- Add Other User -->
    <ion-slide ng-controller="EventPersonController as personCl">
      <ion-content ng-init="personCl.getAllUsers()">

      <!-- Hack Fix -->
      <div class="topPaddingForSteps"></div>

      <!--
        Lookup the User by username
        Need to retreive all users from the database to search for them by name
        Click on the username fire this function
      -->
      <ion-toggle ng-model="personCl.enterManual" ng-checked="personCl.enterManual" ng-toggle="personCl.switchInput()">
        Can't find user?
      </ion-toggle>

      <label class="item item-input" ng-show="!personCl.enterManual">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Username" ng-model="query">
      </label>

      <div class="list">
        <div class="item item-divider" ng-show="!personCl.enterManual">
          Users
        </div>

        <a class="item item-avatar" href="#" ng-show="!personCl.enterManual" ng-repeat="user in personCl.allUsers | orderBy : 'username' | filter : query | limitTo : 10" ng-click="personCl.getUser(user.username)">
          <img ng-src="{{user.profileImgUrl}}">
          <h2>{{user.username}}</h2>
          <p>{{user.fname}} {{user.lname}}</p>
        </a>

      </div>

      <!-- Manually enter the user, this should be hidden until prompted -->
      <div class="list list-inset" ng-show="personCl.enterManual">

        <label class="item item-input">
          <input type="text" class="form-control" placeholder="First Name" ng-model="personCl.crashDriver.fname">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="Last Name" ng-model="personCl.crashDriver.lname">
        </label>
        <label class="item item-input">
          <i class="icon ion-calendar placeholder-icon"></i>
          <input type="date" class="form-control" placeholder="DOB" ng-model="personCl.crashDriver.dob">
        </label>
        <label class="item item-input">
          <i class="icon ion-ios-telephone placeholder-icon"></i>
          <input type="number" class="form-control" placeholder="Phone Number" ng-model="personCl.crashDriver.phone">
        </label>
        <label class="item item-input">
          <i class="icon ion-at placeholder-icon"></i>
          <input type="email" class="form-control" placeholder="Email Address" ng-model="personCl.crashDriver.email">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="Driver License Number" ng-model="personCl.crashDriver.license">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="Driver License State" ng-model="personCl.crashDriver.licenseState">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder
         ="Insurance Company" ng-model="personCl.crashDriver.insurance">
        </label>
        <label class="item item-input">
          <input type="number" class="form-control" placeholder="Insurance Policy Number" ng-model="personCl.crashDriver.policy">
        </label>
        <label class="item item-input">
          <i class="icon ion-ios-people placeholder-icon"></i>
          <input type="text" class="form-control" placeholder="Agent Name" ng-model="personCl.crashDriver.agent">
        </label>
        <label class="item item-input">
          <i class="icon ion-at placeholder-icon"></i>
          <input type="email" class="form-control" placeholder="Agent Email" ng-model="personCl.crashDriver.agentEmail">
        </label>

        <button class="button button-full button-positive" ng-click="personCl.saveDriver()">Add Driver</button>

      </div>

      </ion-content>
    </ion-slide>

    <!-- Review All Information before Saving -->
    <ion-slide ng-controller="EventFinalController as eventFCl">
    <!-- This is a dummy, if the index is 3 it calls the function -->
    <div ng-if="eventCl.index === 3" ng-init="eventFCl.load()"></div>
      <ion-content>

      <!-- Hack Fix -->
      <div class="topPaddingForSteps"></div>

      <!-- Witnesses -->
      <div class="item item-divider">
        <i class="icon ion-ios-people"></i>
        Witnesses
      </div>

      <!-- If no witnesses have been added -->
      <div class="card" ng-show="eventFCl.witnessArr === undefined">
        <div class="item item-divider item-text-wrap">
          No Witnesses
        </div>
      </div>

      <!-- Witnesses -->
      <div class="card" ng-repeat="person in eventFCl.witnessArr">
        <div class="item item-divider">
          Witness #{{ $index + 1 }}
        </div>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="First Name" ng-model="person.fname">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="Last Name" ng-model="person.lname">
        </label>
        <label class="item item-input">
          <input type="number" class="form-control" placeholder="Phone Number" ng-model="person.phone">
        </label>
        <label class="item item-input">
          <input type="email" class="form-control" placeholder="Email Address" ng-model="person.email">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="Comments" ng-model="person.comments">
        </label>
      </div>

      <!-- Crash Images Secion -->
      <div class="item item-divider">
        <i class="icon ion-camera"></i>
        Crash Images
      </div>

      <!-- If no crash images have been added -->
      <div class="card" ng-show="eventFCl.eventImages === undefined">
        <div class="item item-divider item-text-wrap">
          No Images Added
        </div>
      </div>

      <!-- Crash Images -->
      <div class="list card" ng-show="eventFCl.eventImages !== undefined">
        <div class="item item-body">
          <img class="full-image" ng-repeat="image in eventFCl.eventImages" src="{{image.imageURL}}">
        </div>
      </div>

      <!-- Crash Images Secion -->
      <div class="item item-divider">
        <i class="icon ion-model-s"></i>
        Persons Involved in Accident
      </div>

      <!-- If no other drivers have been added -->
      <div class="card" ng-show="eventFCl.crashDriver === undefined">
        <div class="item item-divider item-text-wrap">
          No Other Driver Added
        </div>
      </div>

      <!-- Other Driver's Information -->
      {{eventFCl.CrashEventObj}}
      <div class="card" ng-show="eventFCl.crashDriver !== undefined">
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="First Name" ng-model="eventFCl.crashDriver.fname">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="Last Name" ng-model="eventFCl.crashDriver.lname">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="DOB" ng-model="eventFCl.crashDriver.dob">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="Phone Number" ng-model="eventFCl.crashDriver.phone">
        </label>
        <label class="item item-input">
          <input type="email" class="form-control" placeholder="Email Address" ng-model="eventFCl.crashDriver.email">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="Driver License Number" ng-model="eventFCl.crashDriver.license">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="Driver License State" ng-model="eventFCl.crashDriver.licenseState">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder
         ="Insurance Company" ng-model="eventFCl.crashDriver.insurance">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="Insurance Policy Number" ng-model="eventFCl.crashDriver.policy">
        </label>
        <label class="item item-input">
          <input type="text" class="form-control" placeholder="Agent Name" ng-model="eventFCl.crashDriver.agent">
        </label>
        <label class="item item-input">
          <input type="email" class="form-control" placeholder="Agent Email" ng-model="eventFCl.crashDriver.agentEmail">
        </label>
      </div>

      <!-- This should be disabled if no driver has been added -->
      <button class="button button-full button-positive" ng-click="eventFCl.save()">Save</button>

      </ion-content>
    </ion-slide>

  </ion-slide-box>
</ion-view>
