<ion-view view-title="Your Profile" ng-init="profileCl.load()">

  <ion-nav-buttons side="right">
    <button class="button button-clear button-light">Edit</button>
  </ion-nav-buttons>

  <ion-nav-bar class="bar-positive"></ion-nav-bar>

  <ion-content>
    <ion-list>

      <!-- Add a Profile Image Here -->

      <div class="card">
        <div class="item item-divider">
          Personal Info
        </div>
        <div class="item item-text-wrap">
          {{profileCl.userObj.fname}}
          {{profileCl.userObj.lname}}
          {{profileCl.userObj.dob}}
          {{profileCl.userObj.email}}
          {{profileCl.userObj.phone}}
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">
          Driver Info
        </div>
        <div class="item item-text-wrap">
          {{profileCl.userObj.license}}
          {{profileCl.userObj.licenseState}}
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">
          Insurance Info
        </div>
        <div class="item item-text-wrap">
          {{profileCl.userObj.insurance}}
          {{profileCl.userObj.policy}}
          {{profileCl.userObj.agent}}
          {{profileCl.userObj.agentEmail}}
        </div>
      </div>

    <button class="button button-full button-assertive" ng-click="profileCl.signOut()">Sign Out</button>

    </ion-list>
  </ion-content>
</ion-view>
