<ion-view cache-view="false" view-title="Crash History" ng-init="historyCl.load()">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-content>
    <ion-list>

      <label class="item item-input" ng-show="!personCl.enterManual">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="look up by date or time..." ng-model="query">
      </label>

      <!-- If no crash events -->
      <div class="card" ng-show="historyCl.crashEvents.length === 0">
        <div class="item item-divider item-text-wrap">
          Good Job! You haven't been in any accidents.
        </div>
      </div>

      <!-- Create a Card Out of Crash History Object, the card should be editable as well -->
      <div class="list card" ng-repeat="event in historyCl.crashEvents | orderBy : 'event.createdAt' | filter : query ">

        <!-- Load the person you hit's profile img? -->
        <div class="item item-avatar">
          <img ng-src="img/crashProfile2.jpg">
          <h2>{{event.createdAt | date:'MMM d, y h:mm a ' }}</h2>
          <p>{{event.otherPartyInfo.fname}} {{event.otherPartyInfo.lname}}</p>
          <p>{{event.otherPartyInfo.phone}}</p>
          <p>{{event.otherPartyInfo.email}}</p>
        </div>

        <!-- Display the Crash Photos if any... -->
        <!-- Should have a 'ion-slide' out of all the crash photos -->

        <!-- Crash Images -->
        <div class="item item-image" ng-repeat="image in event.accidentPhotoUrls">
          <img ng-src="{{image.imageURL}}">
        </div>

        <!-- Crash Site Static Google -->
         <img id="googleMap" src="https://maps.googleapis.com/maps/api/staticmap?center={{historyCl.LongLat}}&zoom=17&size=355x200&markers=color:blue|label:|{{historyCl.LongLat}}&key=AIzaSyCbAq9AFLqqCyipYxZadOE9FRjZ0-D1_Vk">

        <!-- Display the Witnesses -->

        <!-- No Witnesses -->
        <a class="item item-icon-left assertive" href="#" ng-show="event.witness.length === 0">
          <i class="icon ion-ios-people"></i>
          <p>No Recorded Witnesses...</p>
        </a>

        <a class="item item-icon-left assertive" href="#" ng-repeat="witness in event.witness">
          <i class="icon ion-ios-people"></i>
          <p>{{witness.fname}} {{witness.lname}}</p>
          <p>{{witness.phone}}</p>
          <p>{{witness.email}}</p>
          <p>{{witness.comments}}</p>
        </a>

      </div>

    </ion-list>
  </ion-content>
</ion-view>
