<ion-view view-title="Your Profile" ng-init="profileCl.load()">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-content>
    <ion-list>

      <ion-item>
        Name
      </ion-item>

      <ion-item>
        username
      </ion-item>

      <ion-item>
        DOB
      </ion-item>

      <ion-item>
        Email
      </ion-item>

      <ion-item>
        Phone Number
      </ion-item>

      <div class="item item-divider">
         Driver Info
      </div>

      <ion-item>
        asdf;lkjasdf
      </ion-item>

      <ion-item>
        asdf;lkjasdf
      </ion-item>

      <div class="item item-divider">
         Insurance Info
      </div>

      <ion-item>
        asdf;lkjasdf
      </ion-item>

      <ion-item>
        asdf;lkjasdf
      </ion-item>


    <button class="button button-full button-assertive" ng-click="profileCl.signOut()">Sign Out</button>

    </ion-list>
  </ion-content>
</ion-view>
