<ion-view view-title="Your Profile" ng-init="profileCl.load()">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-content>
    <ion-list>

      <!-- Add a Profile Image Here -->

      <div class="item item-divider">
         Personal Info
      </div>
      <ion-item>{{profileCl.userObj.fname}}</ion-item>
      <ion-item>{{profileCl.userObj.lname}}</ion-item>
      <ion-item>{{profileCl.userObj.dob}}</ion-item>
      <ion-item>{{profileCl.userObj.email}}</ion-item>
      <ion-item>{{profileCl.userObj.phone}}</ion-item>

      <div class="item item-divider">
         Driver Info
      </div>
      <ion-item>{{profileCl.userObj.license}}</ion-item>
      <ion-item>{{profileCl.userObj.licenseState}}</ion-item>

      <div class="item item-divider">
         Insurance Info
      </div>
      <ion-item>{{profileCl.userObj.insurance}}</ion-item>
      <ion-item>{{profileCl.userObj.policy}}</ion-item>
      <ion-item>{{profileCl.userObj.agent}}</ion-item>
      <ion-item>{{profileCl.userObj.agentEmail}}</ion-item>

    <button class="button button-full button-assertive" ng-click="profileCl.signOut()">Sign Out</button>

    </ion-list>
  </ion-content>
</ion-view>
