<ion-view view-title="Crash History" ng-init="historyCl.load()">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-content>
    <ion-list>

      <!-- If no crash events -->
      <div class="card" ng-show="historyCl.crashEvents.length === 0">
        <div class="item item-divider item-text-wrap">
          Good Job! You haven't been in any accidents.
        </div>
      </div>

      <!-- Create a Card Out of Crash History Object, the card should be editable as well -->
      <div class="card" ng-repeat="event in historyCl.crashEvents">
        <div class="item item-divider">
          {{event.createdAt}}
        </div>
        <div class="item item-text-wrap">
          <!-- What information should be displayed to the user? -->
          <div class="item item-divider">
            The Person you got into a crash with...
          </div>
          <div class="item item-text-wrap">
            {{event.otherPartyInfo.fname}}
            {{event.otherPartyInfo.lname}}
            {{event.otherPartyInfo.phone}}
            {{event.otherPartyInfo.dob}}
            {{event.otherPartyInfo.email}}
          </div>

          <!-- Display the Crash Photo if any... -->

          <!-- Display the accidentPhotoUrls if any... -->

          <!-- Display the Witnesses -->
          <div class="item item-divider">
            Witnesses
          </div>
          <div class="item item-text-wrap" ng-repeat="witness in event.witness">
            {{witness.fname}}
            {{witness.lname}}
            {{witness.phone}}
            {{witness.email}}
            {{witness.comments}}
          </div>

        </div>

        <div class="item item-divider">
          Edit Info
        </div>

      </div>

    </ion-list>
  </ion-content>
</ion-view>
