<ion-view view-title="Create Account" hide-back-button="true" ng-init="createAccountCl.getUser()">
  <ion-content>
  <div class="list list-inset">
    <ion-list>
    
    <label class="item item-input" ng-show="!createAccountCl.facebookLogin">
    <i class="icon ion-person placeholder-icon"></i>
      <input type="text" placeholder="Username" ng-model="createAccountCl.user.username">
    </label>

    <label class="item item-input" ng-show="!createAccountCl.facebookLogin">
    <i class="icon ion-locked placeholder-icon"></i>
      <input type="password" placeholder="Password" ng-model="createAccountCl.user.password">
    </label>

    <label class="item item-input">
      <input type="text" placeholder="First Name" ng-model="createAccountCl.user.fname">
    </label>

    <label class="item item-input">
      <input type="text" placeholder="Last Name" ng-model="createAccountCl.user.lname">
    </label>

    <label class="item item-input">
      <i class="icon ion-calendar placeholder-icon"></i>
      <input type="date" placeholder="DOB" ng-model="createAccountCl.user.dob">
    </label>

    <label class="item item-input">
      <i class="icon ion-ios-telephone placeholder-icon"></i>
      <input type="number" placeholder="Phone Number" ng-model="createAccountCl.user.phone">
    </label>

    <label class="item item-input">
      <i class="icon ion-at placeholder-icon"></i>
      <input type="email" placeholder="Email Address" ng-model="createAccountCl.user.email">
    </label>

    <label class="item item-input">
      <input type="number" placeholder="Driver's License Number" ng-model="createAccountCl.user.license">
    </label>

    <label class="item item-input">
      <input type="text" placeholder="Driver's License State" ng-model="createAccountCl.user.licenseState">
    </label>

    <label class="item item-input">
      <input type="text" placeholder="Insurance Company" ng-model="createAccountCl.user.insurance">
    </label>

    <label class="item item-input">
      <input type="number" placeholder="Policy Number" ng-model="createAccountCl.user.policy">
    </label>

    <label class="item item-input">
      <i class="icon ion-ios-people placeholder-icon"></i>
      <input type="text" placeholder="Agent Name" ng-model="createAccountCl.user.agent">
    </label>

    <label class="item item-input">
      <i class="icon ion-at placeholder-icon"></i>
      <input type="email" placeholder="Agent Email" ng-model="createAccountCl.user.agentEmail">
    </label>

    <button class="button button-block button-positive" ng-click="createAccountCl.create()">Create Account</button>
    <button class="button button-block button-transparent" ng-click="createAccountCl.signin()">Sign In</button>

    </ion-list>
  </div>
  </ion-content>
</ion-view>
