<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-content>
  <div class="list list-inset">
    <ion-list>

    <label class="item item-input">
      <input type="text" placeholder="Username" ng-model="createAccountCl.person.username">
    </label>

    <label class="item item-input">
      <input type="password" placeholder="Password" ng-model="createAccountCl.person.password">
    </label>

    <label class="item item-input">
      <input type="text" placeholder="First Name" ng-model="createAccountCl.person.fname">
    </label>

    <label class="item item-input">
      <input type="text" placeholder="Last Name" ng-model="createAccountCl.person.lname">
    </label>

    <label class="item item-input">
      <input type="date" placeholder="DOB" ng-model="createAccountCl.person.dob">
    </label>

    <label class="item item-input">
      <input type="number" placeholder="Phone Number" ng-model="createAccountCl.person.phone">
    </label>

    <label class="item item-input">
      <input type="email" placeholder="Email Address" ng-model="createAccountCl.person.email">
    </label>

    <label class="item item-input">
      <input type="number" placeholder="Driver's License Number" ng-model="createAccountCl.person.license">
    </label>

    <label class="item item-input">
      <input type="text" placeholder="Insurance Company" ng-model="createAccountCl.person.insurance">
    </label>

    <label class="item item-input">
      <input type="number" placeholder="Policy Number" ng-model="createAccountCl.person.policy">
    </label>

    <label class="item item-input">
      <input type="text" placeholder="Agent Name" ng-model="createAccountCl.person.agent">
    </label>

    <label class="item item-input">
      <input type="email" placeholder="Agent Email" ng-model="createAccountCl.person.agentEmail">
    </label>

    <button class="button button-full button-positive" ng-click="createAccountCl.create()">Create Account</button>

    </ion-list>
  </div>
  </ion-content>
</ion-view>
