
<ion-view view-title="Crash Ninja" hide-back-button="true">
  <ion-content>

  <!-- Gangnam Style -->
  <div id="login"></div>

    <div class="list list-inset" style="text-align:center;">

      <label class="item item-input">
        <i class="icon ion-person placeholder-icon"></i>
        <input type="text" placeholder="Username" ng-model="signinCl.user.username">
      </label>

      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" placeholder="Password" ng-model="signinCl.user.password">
      </label>

      <button class="button button-block button-positive" ng-click="signinCl.signin()">Sign In</button>
      <button class="fbButton button button-block button-positive" ng-click="signinCl.fbLogin()" style="  background-color: #3A5795 !important;border-color: #3A5795 !important;">Login with Facebook</button>

      Don't have an account? <a href="/#/createAccount">Sign Up</a>

    </div>

  </ion-content>
</ion-view>

