/***

  Concat all styles from folder

  State: how our modules and layouts will look when in a particular state, ex: hidden or expanded. Different screen-sizes, how a module may look in different views.

  Naming Convention:
  .moduleName{}
  .moduleName-subModule{}
  .moduleName.stateName{}
  .layout-layoutName{}
  .layout-layoutName--subLayoutName{}

***/

@import 'cloak';
