<div id='crashDriverSearch'>

	<h1>Step 3</h1>
	<div class='crashDriverSearchPage'>
		<p>Get other driver's information. If other person has crash App account,
			have them input their username. Otherwise, click on the next button to input their info.
		</p>

    <!-- 
      Error Messages
      This should disappear once the user starts entering in a new username
      After failing to find a user, they should be prompted to enter the information in manually... 
    -->
    <div ng-show="crashDriverSearchCtrl.errorMessage !== ''" class="alert alert-danger" role="alert">
        {{crashDriverSearchCtrl.errorMessage}}
    </div>

		<form name='crashDriverSearchForm'>

      <div class="input-group">
        <input ng-model="crashDriverSearchCtrl.username" type="text" class="form-control" placeholder="User's Username">
        <a class="btn btn-success input-group-addon" ng-click="crashDriverSearchCtrl.getUser()">Add User</a>
      </div>
      
		</form>

    <div class='bottomButtons'>
      <a href='#/crashPhoto'>
        <button class='btn btn-default pull-left back'>Back</button>
      </a>
      <a href='#/crashDriverInfo'>
        <button class='btn btn-default pull-right next'>Next</button>
      </a>
    </div>

	</div>

</div>
