<div ng-init="profileCtrl.getUser()">
  <h1>Profile</h1>

  <!-- Have the ability to display and change their user information and logout (destroy session) -->

  <!-- Profile Image -->
  <div> 
    <img src="../../../assets/images/crashProfile.jpg" alt="..." width="30%" class="img-thumbnail">
  </div>

  <!-- Profile Information should be loaded from the database and displayed -->

  <p>Name: {{profileCtrl.userObj.firstName}} {{profileCtrl.userObj.lastName}}</p>
  <p>Username: {{profileCtrl.userObj.username}}</p>
  <p>{{profileCtrl.userObj.password}}</p>
  <p>DOB: {{profileCtrl.userObj.dob.slice(0,10)}}</p>

  <!-- User Information that the user can change -->

  <form class="form-inline">
    <label for="userEmail">Email: </label>
    <input type="text" class="form-control" id="userEmail" value="{{profileCtrl.userObj.email}}" ng-model="profileCtrl.userObj.email">
    <br>
    <label for="userPhoneNumber">Phone #: </label>
    <input type="text" class="form-control" id="userPhoneNumber" value="{{profileCtrl.userObj.phoneNumber}}" ng-model="profileCtrl.userObj.phoneNumber">
  </form>

  <h4>Driver Info</h4>
  <form class="form-inline">
  <label for="userDriverLicenseNum">Driver License #: </label>
    <input type="text" class="form-control" id="userDriverLicenseNum" value="{{profileCtrl.userObj.driverLicenseNum}}" ng-model="profileCtrl.userObj.driverLicenseNum">
    <br>
    <label for="userDriverLicenseState">License State: </label>
    <input type="text" class="form-control" id="userDriverLicenseState" value="{{profileCtrl.userObj.driverLicenseState}}" ng-model="profileCtrl.userObj.driverLicenseState">
  </form>
  <h4>Insurance Info</h4>
  <form class="form-inline">
    <label for="userAgentEmail">Agent Email: </label>
    <input type="text" class="form-control" id="userAgentEmail" value="{{profileCtrl.userObj.agentEmail}}" ng-model="profileCtrl.userObj.agentEmail">
    <br>
    <label for="userAgentName">Agent Name: </label>
    <input type="text" class="form-control" id="userAgentName" value="{{profileCtrl.userObj.agentName}}" ng-model="profileCtrl.userObj.agentName">
    <br>
    <label for="userInsuranceCompany">Insurance: </label>
    <input type="text" class="form-control" id="userInsuranceCompany" value="{{profileCtrl.userObj.insuranceCompany}}" ng-model="profileCtrl.userObj.insuranceCompany">
    <br>
    <label for="userPolicyNum">Policy #: </label>
    <input type="text" class="form-control" id="userPolicyNum" value="{{profileCtrl.userObj.policyNum}}" ng-model="profileCtrl.userObj.policyNum">
  </form>
  <div>
    <a href="#/logout" class="btn btn-danger" ng-click="profileCtrl.signOut()">Logout</a>
    <a href="#" class="btn btn-success" ng-click="profileCtrl.updateUser()">Update</a>

  </div>
</div>

