/***

  Panel Module

  Naming Convention:
  .moduleName{}
  .moduleName-subModule{}
  .moduleName.stateName{}
  .layout-layoutName{}
  .layout-layoutName--subLayoutName{}

***/

div.panel{

  margin: 2em 0;

  .panel-heading{
    padding: 25px 15px;
    background-color: white;
    .panel-title{
      font-weight: bold;
      text-align: center;
      color: #323133;
    }
  }

  .panel-body{
    padding: 0px;
  }

  form{
    padding: 10px 30px 30px 30px;

    input.form-control{
      padding: 19px 12px;
      margin: 20px 0;
    }

    .checkbox{
      margin-bottom: 30px;
      label{
        text-transform: initial;
      }
    }

    span {
      margin-top: 10px;
      float: left;
      margin-bottom: 20px;
      text-transform: initial;
    }

  }

  button.btn-info{
    display: block;
    margin: 0 auto;
    font-weight: bold;
    text-transform: uppercase;
    padding: 13px 38px;
    border-radius: 40px;
  }

}
