/***

  Concat all styles from folder

  Layout: divide the page into sections, layouts hold one or more modules together

  Naming Convention:
  .moduleName{}
  .moduleName-subModule{}
  .moduleName.stateName{}
  .layout-layoutName{}
  .layout-layoutName--subLayoutName{}

***/

// Header Bar
.bar-stable.bar.bar-header{
  background-color: #444A59;
}

// Header Bar Text Color
.bar.bar-stable .title{
  color: white;
}
