/***

  Loading Popup

***/

.loading-container .loading {
  padding: 0px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.11);
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 38px;
}

.spinner svg{
  width: 70px;
  height: 70px;
}
