/***

  Event Steps/Processes

***/

// .scroll{
//   transform: translate3d(0px, 53px, 0px) scale(1) !important;
// }

.container-progress {
  top: 200px;
  /*background: #eee;*/
  position: absolute; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.next-step {
  background: #ccc;
  color: #555;
  padding: 15px;
  font-size: 16px;
  font-weight: 300;
  display: block;
  margin: 80px auto 0;
  border-radius: 4px;
  width: 150px;
  cursor: pointer; }

.step-container {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center; }

.step-container .step {
  position: relative;
  z-index: 2;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 50%;
  line-height: 36px;
  transition: background 1000ms ease, color 1000ms ease;
  transition-delay: 800ms;
  background-size: 200% 100%;
  background-position: right bottom;
  border: 3px solid #eee;
  color: #eee;
  }

.step-container .step.active {
  background-position: left bottom;
  color: #555;
  border: 3px solid #555;
}

.step-container .step.completed {
  color: #8cc43d;
  border: 3px solid #8cc43d;
}

.step-container .step-separator {
  position: relative;
  z-index: 1;
  background: #444;
  height: 4px;
  width: 10%;
  margin: 0px -5px 3px -5px;
  display: inline-block;
  background: linear-gradient(to right, #8cc43d 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background 1000ms ease;
}

.step-container .step-separator.active {
  background-position: left bottom; }
