
<h1>Crash History</h1>

<div ng-init="historyCtrl.getCrashEvents()">
<!-- Display in a list view, the users crash events. Need to retreive all crash events related to the current user. -->



  <div ng-repeat="event in historyCtrl.crashEvents" class="panel panel-default">
  <!-- {{event}} -->
    <div class="panel-heading">
      <h3 class="panel-title">{{event.createdAt}}</h3>
    </div>
    <div class="panel-body">

      <h4>Witness's Info</h4>
      <ul>
        <li ng-repeat="person in event.witness">
          <p>{{person.firstname}}</p>
          <p>{{person.lastname}}</p>
          <p>{{person.phoneNumber}}</p>
          <p>{{person.email}}</p>
        </li>
      </ul>

      <h4>Other Driver's Info</h4>
      <p>{{event.otherPartyInfo.firstName}}</p>
      <p>{{event.otherPartyInfo.lastName}}</p>
      <p>{{event.otherPartyInfo.phoneNumber}}</p>
      <p>{{event.otherPartyInfo.email}}</p>
      <p>{{event.otherPartyInfo.insuranceCompany}}</p>

    </div>
  </div>

</div>
