/***

  Base Sass Variables and Mixins that almost .scss every file will need to import

  Base: defaults, single element selectors

  Naming Convention:
  .moduleName{}
  .moduleName-subModule{}
  .moduleName.stateName{}
  .layout-layoutName{}
  .layout-layoutName--subLayoutName{}

***/

@import 'variables';
@import 'mixins';

body {
  @include headers();
  @include subHeaders();
  @include textElems();
  @include lists();

  font-family: 'Lato', sans-serif;
}

