/***

SCSS Variables

***/

/*** Colors ***/

$darkPrimary : #34363C;
$darkSecondary : #444A59;
$lightPrimary : #FFF;
$unique : #EF2C2C;

/*** Font Sizes ***/

$header : 30px;
$sub-header : 22px;
$text : 12px;

/*** Fonts ***/

$font : 'Open Sans', sans-serif;

/*** Padding ***/

$padding: 15px;
