/* Empty. Add your own CSS if you like */



.slider {
  height: 100%;
}

/*
  Top should be the height of the nav bar plus the height of the slider dots (slider-pager)
*/
.slider-slide{
  margin-top: 30px;
}

.slider-pager{
  bottom: auto;
  top: 50px;
}

/*Loader*/
.loading-container .loading {
  padding: 20px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.11);
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 38px;
}

/*Profile Image*/
img.profileImg {
  display: block;
  margin: auto;
  border-radius: 100%;
  width: 8em;
  margin-top: 10px;
  box-shadow: 1px 1px 1px #CFCFCF;
  border: 2px solid #F4F4F4;
  margin-bottom: 20px;
}

/*Utilities*/
.center{
  text-align: center;
  display: block;
  margin: auto;
}
