/* Empty. Add your own CSS if you like */



.slider {
  height: 100%;
}

/*
  Top should be the height of the nav bar plus the height of the slider dots (slider-pager)
*/
.slider-slide{
  margin-top: 30px;
}

.slider-pager{
  bottom: auto;
  top: 50px;
}

/*Loader*/
.loading-container .loading {
  padding: 20px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.11);
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 38px;
}

/*Profile Image*/
img.profileImg {
  display: block;
  margin: auto;
  border-radius: 100%;
  width: 8em;
  margin-top: 10px;
  box-shadow: 1px 1px 1px #CFCFCF;
  border: 2px solid #F4F4F4;
  margin-bottom: 20px;
}

/*Utilities*/
.center{
  text-align: center;
  display: block;
  margin: auto;
}

/*Popup Styles*/
.popup-container .popup{
  border-radius: 8px;
}

#successCheck {
  width: 40%;
  color: green;
  text-align: center;
  margin: auto;
  display: block;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.4s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .2s ease-in-out .2s forwards, scale .1s ease-in-out .7s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.1s cubic-bezier(0.65, 0, 0.45, 1) 0.6s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
