/* Empty. Add your own CSS if you like */



.slider {
  height: 100%;
}

/*
  Top should be the height of the nav bar plus the height of the slider dots (slider-pager)
*/
.slider-slide{

}

.slider-pager{
  bottom: auto;
  top: 50px;
}
